@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  background-color: #110F0E;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #110F0E;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: #110F0E;
  width: 100%;
}

